@model Category


<form method="post">
    <div class="border p-3 mt-4">
         <div class="form-floating py-2 col-12">
             <h2 class=" text-primary">Edit  Catgeory</h2>
             <hr/>

            <span  class="text-danger"></span>
           </div>
        <div asp-validation-summary="All"></div>
            <div class="form-floating py-2 col-12">
             <input  asp-for="name" type="text" class="form-control border-0 shadow" />
            <label  asp-for="name" class="ms-2">Name</label>
            <span asp-validation-for="name" class="text-danger"></span>
           </div>
                   <div class="form-floating py-2 col-12">
             <input asp-for="DisplayOrder" type="text" class="form-control border-0 shadow" />
            <label  asp-for="DisplayOrder" class="ms-2">Display Order</label>

            <span asp-validation-for="DisplayOrder" class="text-danger"></span>

           </div>
           <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:150px"> back to List </a>
    </div>
</form>



@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}